/* CSS for modal container */

/* modal */
.modal {
    display: none;
    position: fixed;
    z-index: 9999; /* Set a high z-index to ensure it appears on top */
    left: auto;
    right: 0;
    top: 0;
    width: 30%;
    height: 90%;
    overflow-y: auto;
    padding: 20px;
    background-color: #f69dad; /* Light blue background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
}

.modal-content {
    background-color: #f0f7ff; /* Slightly darker blue for contrast */
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

.close {
    color: #e1d3d3;
    float: right;
    font-size: 24px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Add spacing between items */
}

.cart-item-image {
    margin-right: 20px; /* Increase margin for better spacing */
}

.cart-item-details {
    flex: 1;
}

.cart-price {
    min-width: 50px;
}

.cart-row {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.product-row {
    display: flex;
    align-items: center;
}

.cart-item-title {
    flex-basis: 100%;
    word-wrap: break-word;
    font-weight: bold; /* Make the title bold */
    margin-bottom: 10px;
}

.cart-quantity {
    display: flex;
    align-items: center;
}

.cart-quantity-input {
    width: 60px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn {
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    background-color: #00ff11;
    color: white;
    border-radius: 4px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #007e7e;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.modal-title {
    font-size: 24px;
    font-weight: bold;
}

.cart-item-details {
    display: flex;
    flex-direction: column;
}

.cart-item-title,
.cart-price,
.cart-quantity {
    margin-bottom: 5px;
}

.cart-item {
    position: relative;
}

.close-pr {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 30%;
    padding: 20px;
    background-color: #f3f3f3;
    border-top: 1px solid #ccc;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
}

.cart-total-title {
    font-weight: bold;
}

.cart-total-price {
    font-weight: bold;
    font-size: 18px;
}

.btn-primary {
    background-color: rgb(37, 205, 37);
    color: rgb(27, 27, 27);
    margin-left: 240px;
}

.btn-secondary {
    background-color: white;
    color: rgb(27, 27, 27);
    justify-content: flex-end;
}

.cart-button {
    display: flex;
    justify-content: space-between;
}
